<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" class="mat-column-right" routerLink="/addproject">Add Project</button>
    <button mat-raised-button color="secondary" class="mat-column-right" routerLink="/adduser">Add User</button>
    <button mat-raised-button color="primary" class="mat-column-right" routerLink="/addtask">Add Task</button>
    <button mat-raised-button color="primary" class="mat-column-right" routerLink="/viewtask">View Task</button>
    <br><br>
  </mat-card>
  <mat-divider></mat-divider>
  <br>  
  <mat-card>
    <section class="mat-typography">
      <h3>Create/Update A User</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="userForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="First Name" formControlName="firstname" #firstname>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Last Name" formControlName="lastname" #lastname>
      </mat-form-field>      

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Employee ID" formControlName="employeeid" #employeeid>
      </mat-form-field>      

      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/viewtask">Cancel</button>
      <button type="submit" (click)="createUser(firstname.value, lastname.value, employeeid.value)" [disabled]="userForm.prestine || userForm.disabled || userForm.untouched" mat-raised-button color="primary">Add User</button>
    </form>
  </mat-card>
</div>
<app-viewuser></app-viewuser>
